<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>쇼핑몰 메인 페이지</title>
  <style>
    .product, .recommended-product {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }
  </style>
</head>
<body>
<h1>쇼핑몰 메인 페이지</h1>
<a th:text="${userInfo.getUserName()}"></a><a>님</a></br></br>
<a sec:authentication="name"></a><a>님</a><br><br>
<button type="button" onclick="location.href='/'">로그아웃</button>
<div id="products">
  <form action="itemDetail.html"></form>
  <h2>상품 목록</h2>
  <div th:each="product : ${products}" class="product">
    <img th:src="'/img/'+${product.image.getImageName}" alt="Product Image">
    <span th:text="${product.title + ' (' + product.price + '원)'}"></span>
    <!-- 실제 쇼핑몰이라면 아래 버튼 대신 상품 상세페이지로 연결 -->
    <button type="submit">자세히 보기</button>
  </div>
</div>
<!--<div id="recommendedProducts">-->
<!--  <h2>추천 상품 목록</h2>-->
<!--  <div th:each="recommendedProduct : ${recommendedProducts}" class="recommended-product">-->
<!--    <span th:text="${recommendedProduct.name + ' (' + recommendedProduct.price + '원)'}"></span>-->
<!--    &lt;!&ndash; 실제 쇼핑몰이라면 아래 버튼 대신 상품 상세페이지로 연결 &ndash;&gt;-->
<!--    <button>자세히 보기</button>-->
<!--  </div>-->
</div>
</body>
</html>
